.AddSubscribe{
    background-color: aliceblue;
    width:400px;
    text-align: center;
}
.box label{
    font-weight: bold;
    font-size: 20px;
}
.input{
    margin-left: 20px;
    padding: 5px;
}
.box{
    margin: 20px;
}