.AddSubscribe{
    background-color: aliceblue;
    width:350px;
    text-align: center;
}
table{
    margin: auto;
}
label{
    font-weight: bold;
}
.input{
    padding: 5px;
}
tr,td{
    padding: 10px;
}
.button{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(190, 80, 203);
}
