.flex{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: aliceblue;
}
.da{
    padding: 20px 1px;
    width: 230px;
}
.data{
    text-align: center;
    color: gold;
}
.f-w{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}