.controle{
    background-color: lightblue;
}
.addB{
    padding: 5px 10px;
    background-color: brown;
    color: white;
    font-size: 20px;
}
input{
    padding: 10px;   
    margin: 10px;
}

.notValid{
    border: 2px solid red;
}
.Valid{
    border: 2px solid black;
}