.box{
    width: 300px;
    background-color: azure;
    padding: 7px;
    border: 2px solid black;
    margin: 20px;
}
.title-box{
    padding: 10px;
}
.title{
    font-weight: bold;
}
.price-box , .date-box{
    padding: 20px;
    text-align: right;
}
.price{
    background-color: brown;
    width: 60px;
    text-align: center;
    color: aliceblue;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 19px;
}