:root {
    --back-color: #000000;
    --body-font: 'Courier New', Courier, monospace;
    // --border-temp: 2px solid red;
    --font-white: white;
}

.hr {
    background-color: aliceblue;
    height: 1px;
    margin: auto;
    margin-top: 15px;
    animation: change 3s infinite;
}

.borde-temp {
    border: var(--border-temp);
}

.white {
    color: white !important;
}
.text-decoration-none{
    text-decoration: none;
}
.flex {
    display: flex;
}

.capitalize {
    text-transform: capitalize;
}

.place-self {
    place-self: center;
}

p {
    text-transform: capitalize;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.place-items {
    place-items: center;
}

.text-center {
    text-align: center;
}

.thank {
    width: 100%;
    display: grid;
    align-items: center;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    @extend .borde-temp;
    transition: 0.5s;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background-color: var(--back-color);
}

::-webkit-scrollbar-thumb {
    background-color: #191717;
}

body {
    color: var(--font-white);
    background: var(--back-color);
    background: -webkit-linear-gradient(to right, #191717, var(--back-color));
    background: linear-gradient(to right, #191717, var(--back-color));
    font-family: var(--body-font);
    user-select: none;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #9bfffd;

    .social {
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

@media (min-width:600px) {
    .header {
        .social {
            a {
                margin-right: 30px;
            }
        }
    }

    .box {
        padding-top: 40px;
    }

    .title_name {
        font-size: 2.6rem;
    }

    .nav {
        nav {
            li {

                // margin: 10px 29px;
                a {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

@media (max-width:600px) {
    #root {
        margin-top: 30px;
    }

    .header {
        font-size: 1.4rem;

        .social {
            a {
                margin-right: 12px;
            }
        }
    }

    .top {
        height: 300px !important;
        max-width: 300px;
        margin: auto;
    }

    .title_name {
        font-size: 1.7rem;
    }

    .nav {
        nav {
            li {

                // margin: 5px 12px;
                a {
                    font-size: 1rem !important;
                }
            }
        }
    }
}

.span {
    font-weight: bold;
    color: #ffbebe;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    transition: 0.4s;

    .top {
        height: 270px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .span {
            font-size: 1.3rem;
            padding: 5px 10px;
            border-radius: 20px;
        }

        .job_title {
            margin-top: 8px;
        }

        img {
            box-shadow: 0 0 10px 0 rgb(211, 208, 208);
            border-radius: 50%;
        }
    }

    .nav {
        nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: space-around;

            li {
                list-style: none;

                a {
                    font-weight: bold;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #ffed64;

                    &:hover {
                        border-bottom: 3px solid white;
                    }
                }
            }
        }
    }

}


@keyframes change {
    0% {
        background-color: rgb(225, 221, 2);
    }

    25% {
        background-color: #af2eff;
    }

    50% {
        background-color: rgb(27, 250, 27);
    }

    70% {
        background-color: rgb(1, 173, 173);
    }

    75% {
        background-color: white;
    }

    100% {
        background-color: rgb(225, 221, 2);
    }
}

.box {
    margin-top: 60px;
    margin-top: 60px;
}

.spaceTop {
    margin-top: 40px;
}

@media (max-width:600px) {
    .about {
        display: block;

        .about_detail {
            margin-top: 40px;
        }

        .block:nth-child(even) {
            font-size: 0.8rem !important;
        }
    }

    .me {
        p {
            font-size: 14px;
        }
    }

    .other_about {
        margin-top: 45px;
    }

}

@media (min-width:600px) {
    .about {
        display: flex;
    }

    .other_about {
        width: 90%;
        margin: auto;
        margin-top: 45px;
    }
}

.about {
    justify-content: space-evenly;

    .title {
        font-size: 1.2rem;
        max-width: 500px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        .me {
            letter-spacing: 1px;
        }
    }

    .about_detail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .block {
            margin-bottom: 20px;
        }

        .block:nth-child(even) {
            letter-spacing: 1px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .block:nth-child(odd) {
            font-weight: bold;
            color: #d48eff;
            font-size: 1.2rem;
            max-width: 100px;
            text-transform: uppercase;
        }
    }
}

@media (min-width:600px) {
    .knowledge {
        .konwledge_blook {
            margin-left: 40px;
            margin-top: 50px;
        }

        .icon_box {
            margin: 20px 0;
            justify-content: space-between;
            margin-left: 22px;
        }

        .icon_block {
            height: 80px;

            .icon {
                height: 60px;

                i {
                    font-size: 2.6rem;
                }
            }
        }

    }

}

@media (max-width:600px) {
    h1{
        font-size: 2rem !important;
    }
    .knowledge {
        .konwledge_blook {
            margin-bottom: 40px;
        }

        .icon_box {
            justify-content: space-between;
            margin-top: 15px;
        }

        .icon_block {
            width: 70px;

            .icon {
                height: 38px;

                i {
                    font-size: 2rem;
                }
            }


        .icon_title {
            font-size: 12px;
        }
        }

    }
}

.knowledge {

    .icon_box {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .icon_block {
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;

        img {
            width: 100%;
            height: 100%;
        }

        .icon_title {
            padding-top: 10px;
        }
        
    }
}

@media (min-width:600px){
    .project{
        .project_name{
            margin-left: 20px;
            .link{
                padding: 8px;
                a{
                    font-size: 1.4rem;
                }
            }
        }
    }
}
@media (max-width:600px){
    .project{
        .project_name{
            .link{
                margin: 15px 10px;
                padding: 5px;
                a{
                    font-size: 1rem;
                }
            }
        }
    }
}
.project {
    .project_name {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .link {
            animation: borde 4s infinite;
            border-radius: 5px;
            font-family: monospace;
            border: 3px transparent;
            border-style: groove;

            a {
                text-decoration: none;
                color: rgb(227, 255, 144);
                border-radius: 20px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        }
    }
}

@keyframes borde {
    0% {
        border-color: transparent;
        border-top-color: aqua;
    }

    25% {
        border-color: transparent;
        border-left-color: aqua;
    }

    50% {
        border-color: transparent;
        border-bottom-color: aqua;
    }

    75% {
        border-color: transparent;
        border-right-color: aqua;
    }

    100% {
        border-color: transparent;
        border-color: transparent;
    }
}

h1 {
    color: #ffed64;
    font-size: 2.3rem;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: #02ff81;
}

.footer {
    width: 100%;
    background-color: #1a1a1a;
    height: 70px;
    display: grid;
    align-items: center;
    text-align: center;

    span {
        opacity: 0.4;
        font-size: 1.2rem;
    }
}

.fa-react {
    color: rgb(27, 173, 221);
}

.fa-sass {
    color: rgb(219, 139, 151);
}

.icon-mongodb {
    color: rgb(43, 191, 43);
}

.icon-jquery {
    color: rgb(50, 154, 233);
}

.fa-git-alt {
    color: rgb(255, 132, 44);
}

.fa-square-js {
    color: gold;
}

.fa-html5 {
    color: coral;
}

.fa-php {
    color: aqua;
}

.fa-bootstrap {
    color: rgb(57, 106, 255);
}

.bi-server {
    color: #ffbebe;
}

.fa-css3-alt {
    color: rgb(67, 200, 249);
}

.fa-java {
    color: rgb(255, 120, 52);
}

.fa-c {
    color: rgb(64, 188, 255);
}

.fa-python {
    color: rgb(253, 143, 65);
}

.bi-geo-alt {
    color: gold;

    &:hover {
        color: rgb(13, 227, 13);
    }
}

.bi-whatsapp {
    font-size: large;
    color: rgb(255, 255, 255);
    background-color: rgb(29, 98, 42);
    border-radius: 10px;
}

@media (min-width: 600px) {
    .container {
        max-width: 1200px;
        margin-top: 35px;
    }
    img {
        width: 150px;
    }
    .thank{
        height: 400px;
    }
}

@media (max-width:600px) {
    .thank{
        height: 250px;
    }
    .image {
        margin-top: 20px !important;
    }

    img {
        width: 100px;
    }
}