:root {
    --back-color: #000000;
    --body-font: 'Courier New', Courier, monospace;
    // --border-temp: 2px solid red;
      --font-white: white;
}
.hr {
    background-color: aliceblue;
    height: 1px;
    margin: auto;
    margin-top: 15px;
    animation: change 3s infinite;
}
.borde-temp {
    border: var(--border-temp);
}
.flex{
    display: flex;
}
.place-self {
    place-self: center;
}

.place-items {
    place-items: center;
}

.text-center {
    text-align: center;
}
.thank{
    height: 400px;
    width: 100%;
    display: grid;
    align-items: center;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    @extend .borde-temp;
    transition: 0.5s;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background-color: var(--back-color);
}

::-webkit-scrollbar-thumb {
    background-color: #191717;
}

body {
    color: var(--font-white);
    transition: 1s;
    background: var(--back-color);
    background: -webkit-linear-gradient(to right, #191717, var(--back-color));
    background: linear-gradient(to right, #191717, var(--back-color));
    font-family: var(--body-font);
    user-select: none;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;

    .social {
        a {
            color: white;
            margin-right: 30px;
        }
    }
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    transition: 0.4s;

    .top {
        height: 270px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .title_name {
            font-size: 2.6rem;
        }

        .span {
            font-size: 1.3rem;
            padding: 5px 10px;
            border-radius: 20px;
        }

        .job_title {
            margin-top: 8px;
        }

        img {
            box-shadow: 0 0 10px 0 rgb(211, 208, 208);
            border-radius: 50%;
        }
    }

    .nav {
        nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                list-style: none;
                margin: 10px 29px;

                a {
                    font-weight: bold;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: var(--font-white);
                }
            }
        }
    }

    .box {
        padding-top: 50px;
    }
}


@keyframes change{
    0%{
        background-color: rgb(225, 221, 2);
    }
    50%{
        background-color: rgb(27, 250, 27);
    }
    70%{
        background-color: rgb(1, 173, 173);
    }
    75%{
        background-color: white;
    }
    100%{
        background-color: rgb(225, 221, 2);
    }
}
.box{
    margin-top: 60px;
}
.spaceTop{
    margin-top: 60px;
}
.about {
    display: flex;
    justify-content: space-evenly;

    .title {
        font-size: 1.2rem;
        max-width: 500px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        .me {
            letter-spacing: 1px;
        }
    }
    .about_detail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .block {
            margin-bottom: 20px;
        }
        .block:nth-child(even) {
            letter-spacing: 1px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .block:nth-child(odd) {
            font-weight: bold;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }
}
.other_about{
    width: 90%;
    margin: auto;
    margin-top: 45px;
}
.knowledge{
    .konwledge_blook{
        margin-left: 40px;
        margin-top: 50px;
    }
    .icon_box{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin: 20px 0;
        margin-left: 22px;
    }
    .icon_block{
        width: 90px;
        text-transform: uppercase;
        // background-color:red;
        font-weight: bold;
        text-align: center;
        img{
            width: 100%;
            height: 100%;
        }
        .icon_title{
            padding-top: 10px;
        }
        .icon{
            height: 50px;
            i{
                font-size: 2.6rem;
            }
        }
    }
}
.project{
    .project_name{
        margin-left: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .link{
            a{
                text-decoration: none;
                color: white;
                font-size: 1.5rem;
                border-radius: 20px;
                padding: 10px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                &:hover{
                    box-shadow: 0 0 10px rgb(138 136 136);
                    border-bottom: 8px double red;
                    text-decoration: double;
                }
            }

        }
    }
}
h1{
    font-size: 2.3rem;
    font-family: 'Courier New', Courier, monospace;
}
.footer{
    width: 100%;
    background-color: #1a1a1a;
    height: 70px;
    display: grid;
    align-items: center;
    text-align: center;
    span{
        opacity: 0.4;
        font-size: 1.2rem;
    }
}
.fa-react{
    color: rgb(27, 173, 221);
}
.fa-sass{
    color: rgb(219, 139, 151);
}
.icon-mongodb{
    color: rgb(43, 191, 43);
}
.icon-jquery{
    color: rgb(50, 154, 233);
}
.fa-git-alt{
    color: rgb(255, 132, 44);
}
.fa-square-js{
    color: gold;
}
.fa-html5{
    color:coral;
}
.fa-php{
    color:aqua;
}
.fa-bootstrap{
    color:rgb(57, 106, 255);
}
.bi-server{
    color: #ffbebe;
}
.fa-css3-alt{
    color: rgb(67, 200, 249);
}
.fa-java{
    color: rgb(255, 120, 52);
}
.fa-c{
    color: rgb(64, 188, 255);
}
.fa-python{
    color: rgb(253, 143, 65);
}


@media (min-width: 600px) {
    .container {
        max-width: 1200px;
        margin-top: 35px;
    }

    img {
        width: 150px;
    }
}