* {
  margin: 0;
  padding: 0;
}
:root {
  --Back: rgb(30 41 106);
  --BackLight: rgb(49, 60, 118);
}
.none {
  display: none;
}
@media (max-width: 700px) {
  .header {
    zoom: 0.7;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .userchat {
    font-size: 15px;
  }
}

@media (min-width: 1000px) {
  .invite_a {
    display: none;
  }
  .header {
    margin-top: 50px;
  }
  .userchat {
    font-size: 1.2rem;
  }
}

body {
  cursor: default;
  background-color: rgb(248, 239, 239);
  user-select: none;
}

.icon2 {
  font-size: 1.5rem;
}
.bi-x-lg {
  font-size: 1.4rem;
  cursor: pointer;
}

.footer {
  text-align: center;
  font-size: 1rem;
  margin-top: 55px;
  color: #673e3e;
}
.footer .data a {
  font-weight: bold;
  font-size: 1.3rem;
  padding-left: 2px;
  color: #373ccf;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Error_Box {
  width: 275px;
  background-color: rgb(105, 18, 129);
  color: white;
  border-radius: 15px;
  box-shadow: 1px 5px 14px 2px #6a2f29;
  padding: 8px;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Error {
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
}
.Error_Title {
  padding: 5px 10px 15px 5px;
  display: flex;
  justify-content: space-between;
}
.Error_Desc {
  display: flex;
  padding: 5px 10px 15px 5px;
  justify-content: space-between;
}
.Title {
  font-weight: bold;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.login {
  border-radius: 40px;
  font-size: 27px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  padding: 8px;
  text-decoration: none;
  color: black;
  border: none;
  background-color: gold;
}

.SignUp {
  text-align: center;
  color: gold;
  background-color: var(--Back);
  border-radius: 10px;
  padding: 10px;
}
.chats {
  height: 450px;
}

.main {
  background-color: rgb(156, 157, 208);
  width: 500px;
  margin: auto;
  box-shadow: 0 0 20px 0 black;
  border-radius: 12px;
}
.live_User {
  color: #ffd700;
  font-size: 18px;
  margin-left: 5px;
}
.live_U {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 19;
}
.spiner {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 45%;
  margin-left: -85px;
}
.spin {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: brown;
  animation: boun 0.5s alternate infinite;
}
.spin:nth-child(2) {
  animation-delay: 0.16s;
}
.spin:nth-child(3) {
  animation-delay: 0.32s;
}
@keyframes boun {
  from {
    transform: skewX(1.25);
    background-color: rgb(211, 240, 255);
  }
  to {
    transform: translateY(-50px) scaleX(1);
  }
}

.top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--Back);
  user-select: none;
  color: rgb(204, 250, 210);
  padding: 5px 13px 6px 1px;
  justify-content: space-between;
  display: flex;
}

#ref {
  font-size: 40px;
  cursor: pointer;
  margin-right: 30px;
  text-shadow: 0 0 5px gold;
}
#ref:active {
  transform: rotate(365deg);
}
.active_Spin {
  animation: spin 1.6s infinite linear;
}
@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 365deg;
  }
}
.login_log {
  text-decoration: none;
  font-size: 33px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: white;
}
.log_Form {
  background-color: brown;
}
.login_log:hover {
  color: gold;
}
a {
  color: white;
  border-radius: 30px;
}

.logo {
  text-decoration: none;
  font-size: 33px;
}

.top1 {
  margin-top: 2px;
  margin-left: 20px;
}
.top2 {
  padding-top: 12px;
  display: flex;
}

.form {
  display: flex;
  width: 100%;
}

.bottom .file_in {
  outline: none;
  background-color: rgb(239, 232, 204);
  padding: 15px 0 15px 15px;
  font-size: 20px;
  border: 1px solid rgb(148, 146, 146);
  cursor: pointer;
  width: 380px;
  transition: 0.5s;
}

.bottom .Chatinput {
  outline: none;
  resize: none;
  scroll-behavior: smooth;
  height: 26px;
  background-color: rgb(204, 217, 239);
  padding: 15px 0 15px 15px;
  font-size: 20px;
  border: 1px solid rgb(148, 146, 146);
  width: 100%;
  border-bottom-left-radius: 10px;
  transition: 0.5s;
}

.Dev_logo {
  display: flex;
  transition: 0.5s;
  justify-content: space-evenly;
}

.invite_a {
  font-size: 35px;
  text-decoration: none;
  margin-right: 33px;
}

#chat_B:hover,
#pdf_B:hover {
  color: gold;
}

#chat_B,
#pdf_B {
  margin-bottom: 15px;
  font-size: 30px;
  display: none;
  cursor: pointer;
  outline: none;
  background: brown;
  color: white;
  border-radius: 65%;
  width: 50px;
  padding-bottom: 10px;
  border: 1px solid rgb(148, 146, 146);
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 5px black;
  padding-top: 10px;
  text-align: center;
}

.hiper {
  color: #8df1e0;
  margin-left: 13px;
  font-size: 21px;
  overflow-wrap: anywhere;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 0 0 4px white;
}

.hiper:hover {
  color: gold;
}


.bottom .Chatinput:focus {
  border: 2px solid var(--Back);
  border-right: none;
  border-top: 1px solid var(--Back);
  box-shadow: 0 0 5px black;
}

.bottom .send {
  border: 1px solid rgb(148, 146, 146);
  width: 83px;
  font-size: 25px;
  background-color: var(--Back);
  color: white;
  box-shadow: 0 0 5px black;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.bottom .send:hover,
.top2 a:hover,
#option:hover {
  color: gold;
}

.chats {
  overflow-y: auto;
  overflow-x: hidden;
  height: 500px;
  padding-top: 35px;
  padding-left: 85px;
  display: block;
}

.message {
  border-radius: 15px;
  border-bottom-right-radius: 25px;
  width: 330px;
  display: inline-block;
  margin-bottom: 20px;
  background-color: var(--Back);
  box-shadow: 0 0 8px 0 black;
}

.message .user {
  border-top-right-radius: 5px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: space-between;
  text-shadow: 0 0 10px rgb(96, 96, 0);
  padding: 6px 1px 5px 15px;
}
.message .user .optionsIcon{
  margin-right: 15px;
  cursor: pointer;
}
.bi-clipboard2-plus{
  color: rgb(255, 185, 253) !important;
}
.bi-check2-all{
  color: rgb(2, 200, 75) !important;
}
.chats .user {
  background-color: var(--BackLight);
  font-size: 1rem;
  color: rgb(237, 226, 20);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.message .time {
  text-shadow: 0 0 10px wheat;
  padding: 5px 15px 8px 1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 20px;
  text-align: right;
  color: aquamarine;
  background-color: var(--BackLight);
  font-size: 0.9rem;
}

.message .userchat {
  color: white;
  background-color: var(--Back);
  word-wrap: break-word;
  user-select: all !important;
  padding: 13px 5px 18px 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

::-webkit-file-upload-button {
  background-color: #bd5a5a;
  display: none;
}
::-webkit-input-placeholder {
  font-family: monospace;
  margin-left: 12px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  box-shadow: inset 0 0 30px #ffeaea;
}

::-webkit-scrollbar-thumb {
  background-color: var(--Back);
  border-radius: 20px;
}
